{{!-- admin.handlebars --}}


<div id="admin">
<h1> Payments</h1>
<div id="table">
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Class Name</th>
      <th>Price (Before Tax)</th>
      <th>Price Paid</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each payments}}
      <tr>
        <td>{{this.username}}</td>
        <td>{{this.className}}</td>
        <td>{{this.priceBeforeTax}}</td>
        <td>{{this.totalAmountPaid}}</td>
        <td>{{this.dateCreated}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>

</div>
